./__pycache__
./Mk3/Test
./desktop.ini
./MK3/.idea
.idea/
.\__pycache__
.\__pycache__\
.\Mk3\Test
.\desktop.ini
.\MK3\.idea
.idea
.\Mk3\__pyache__\
.\password.txt
.\modules-install\
./modules-install
./venv/
.\venv\

